---
layout: default
title: Projects
permalink: /projects/
---

<div class="projects">
	{% for project in site.projects %}
		{% assign repo = false %}

		{% if project.repo %}
			{% for r in site.github.public_repositories %}
				{% if r.full_name == project.repo %}
					{% assign repo = r %}
					{% break %}
				{% endif %}
			{% endfor %}
		{% endif %}

		<div class="panel panel-default">
			<div class="panel-heading"><a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a></div>
			<div class="panel-body">
				<p>{{ project.description }}</p>
			</div>

			{% if repo %}
				<ul class="list-group">
					<li class="list-group-item"><a href="{{ repo.html_url }}">GitHub repository</a><span class="badge">Last update: {{ repo.updated_at }}</span></li>
					<li class="list-group-item">{{ repo.stargazers_count }} stargazer{% if repo.stargazers_count != 1 %}s{% endif %}, {{ repo.watchers_count }} watcher{% if repo.watchers_count != 1 %}s{% endif %}, {{ repo.forks_count }} fork{% if repo.forks_count != 1 %}s{% endif %}, {{ repo.open_issues_count }} issue{% if repo.open_issues_count != 1 %}s{% endif %}.</li>
					<li class="list-group-item"><a href="{{ repo.url }}">{{ repo.url }}</a></li>
				</ul>
			{% elsif project.repo %}
				<ul class="list-group">
					<li class="list-group-item">It seems that the repository &quot;{{ project.repo }}&quot; does not exist, or is not public.</li>
				</ul>
			{% endif %}
		</div>
	{% endfor %}
</div>

{% comment %}
{% for repo in site.github.public_repositories %}
	<div class="panel panel-default">
		<div class="panel-heading"><a href="{{ repo.html_url }}">{{ repo.name }}</a></div>
		<div class="panel-body">
			<p>{{ repo.description }}</p>
		</div>

		<ul class="list-group">
			<li class="list-group-item">Last update: {{ repo.updated_at }}</li>
			<li class="list-group-item">{{ repo.stargazers_count }} stargazer{% if repo.stargazers_count != 1 %}s{% endif %}, {{ repo.watchers_count }} watcher{% if repo.watchers_count != 1 %}s{% endif %}.</li>
			<li class="list-group-item">Morbi leo risus</li>
			<li class="list-group-item">Porta ac consectetur ac</li>
			<li class="list-group-item">Vestibulum at eros</li>
		</ul>
	</div>
{% endfor %}
{% endcomment %}
