---
layout: default
nocontainer: true
title: Projects
permalink: /projects/
---

<div id="projects">
	{% for project in site.projects %}
		<div class="panel panel-default">
			<div class="panel-heading"><a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a></div>
			<div class="panel-body">
				<p>{{ project.description }}</p>
			</div>

			{% if project.repo %}
				<ul class="list-group" data-repo-name="{{ project.repo }}">
					<li class="list-group-item repo-link-item">
						<a href="https://github.com/{{ project.repo }}">GitHub repository</a>
					</li>
					<li class="list-group-item">
						<span class="stars"># stargazers</span>,
						<span class="watchers"># watchers</span>,
						<span class="forks"># forks</span>,
						<span class="issues"># issues</span>.
						{% if project.travis_branch %}
							<a class="travis-badge" href="https://travis-ci.com/{{ project.repo }}">
								<img src="https://travis-ci.org/{{ project.repo }}.svg?branch={{ project.travis_branch }}"
									alt="Travis build status of {{ project.title }}">
							</a>
						{% endif %}
					</li>
				</ul>
			{% endif %}
		</div>
	{% endfor %}

	{% comment %}
	{% for repo in site.github.public_repositories %}
		<div class="panel panel-default">
			<div class="panel-heading"><a href="{{ repo.html_url }}">{{ repo.name }}</a></div>
			<div class="panel-body">
				<p>{{ repo.description }}</p>
			</div>

			<ul class="list-group" data-repo-name="{{ repo.full_name }}">
				<li class="list-group-item repo-link-item"><a href="https://github.com/{{ repo.full_name }}">GitHub repository</a></li>
				<li class="list-group-item">
					<span class="stars"># stargazers</span>,
					<span class="watchers"># watchers</span>,
					<span class="forks"># forks</span>,
					<span class="issues"># issues</span>.
				</li>
			</ul>
		</div>
	{% endfor %}
	{% endcomment %}
</div>

<script>
function countNoun(cnt, nounSing, nounPlur)
{
	if (cnt == 1)
		return "1 " + nounSing;
	else if (nounPlur)
		return cnt + " " + nounPlur;
	else
		return cnt + " " + nounSing + "s";
}

$(document).ready(function() {
	$("[data-repo-name]").each(function()
	{
		var $el = $(this);
		var name = $el.data("repoName");

		var $repoLinkItem = $el.find(".repo-link-item");
		var $stars = $el.find(".stars");
		var $watchers = $el.find(".watchers");
		var $forks = $el.find(".forks");
		var $issues = $el.find(".issues");

		$.ajax({
			url: "https://github-api.vercas.com/repos/" + name,
			success: function(dat)
			{
				$repoLinkItem.append('<span class="badge last-update">Last update: ' + dat.updated_at.slice(0, 10) + '</span>');

				$stars.text(countNoun(dat.stargazers_count, 'stargazer'));
				$watchers.text(countNoun(dat.watchers_count, 'watcher'));
				$forks.text(countNoun(dat.forks_count, 'fork'));
				$issues.text(countNoun(dat.open_issues_count, 'issue'));
			},
			dataType: "json"
		});
	});
});
</script>

<script src="/scripts/macy.min.js"></script>

<script>
Macy.init({
	container: '#projects',
	trueOrder: false,
	waitForImages: false,
	margin: 24,
	columns: 5,
	breakAt: {
		2850: 4,
		2150: 3,
		1550: 2,
		1000: 1
	}
});
</script>
