<div class="wrapper-masthead">
	<header class="masthead clearfix">
		<a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.github.owner_gravatar_url }}" /></a>

		<div class="site-info">
			<h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
			<p class="site-description">{{ site.description }}</p>
		</div>

		<nav class="navbar navbar-toggleable-sm">
			<div class="navbar-nav nav-pills">
				{% for p in site.navpages %}
					<a href="{{ site.baseurl }}{{ p.url }}"
						{% if p.url == page.url %}
							class="nav-item nav-link active"
						{% else %}
							class="nav-item nav-link"
						{% endif %}
					>
						{{ p.title }}
					</a>
				{% endfor %}
			</div>
		</nav>
	</header>
	<div class="header-border">&nbsp;</div>
</div>
