<div class="wrapper-masthead">
	<header class="masthead clearfix">
		<a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.github.owner_gravatar_url }}" /></a>

		<div class="site-info">
			<h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
			<p class="site-description">{{ site.description }}</p>
		</div>

		<ul class="nav nav-pills">
			{% for p in site.navpages %}
				{% if p.url == page.url %}
					<li role="presentation" class="active"><a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a></li>
				{% else %}
					<li role="presentation"><a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
	</header>
	<div class="header-border">&nbsp;</div>
</div>
