{% assign proj = include.project %}

{% if proj.repo %}
<ul class="list-group" data-repo-name="{{ proj.repo }}">
    <li class="list-group-item repo-link-item">
        <a href="https://github.com/{{ proj.repo }}">GitHub repository</a>
    </li>
    <li class="list-group-item">
        <span class="stars"># stargazers</span>,
        <span class="watchers"># watchers</span>,
        <span class="forks"># forks</span>,
        <span class="issues"># issues</span>.
    </li>
    <li class="list-group-item project-badges">
        <a class="release-badge" href="https://github.com/{{ proj.repo }}/releases/latest">
            <img class="release-badge"
                src="https://img.shields.io/github/release/{{ proj.repo }}.svg"
                alt="Latest release of {{ proj.title }}">
        </a>

        {% if proj.license %}
            <a class="license-badge" href="https://tldrlegal.com/search?q={{ proj.license }}">
                <img class="license-badge"
                    src="/images/license-{{ proj.license }}.svg"
                    alt="License of {{ proj.title }}">
            </a>
        {% endif %}

        {% if proj.travis_branch %}
            <a class="travis-badge" href="https://travis-ci.com/{{ proj.repo }}">
                <img class="travis-badge"
                    src="https://travis-ci.org/{{ proj.repo }}.svg?branch={{ proj.travis_branch }}"
                    alt="Travis build status of {{ proj.title }}">
            </a>
        {% endif %}

        {% if proj.nuget %}
            <a class="nuget-badge" href="https://www.nuget.org/packages/{{ proj.nuget }}/">
                <img class="nuget-badge"
                    src="https://img.shields.io/nuget/v/{{ proj.nuget }}.svg"
                    alt="Latest NuGet package of {{ proj.title }}">
            </a>
        {% endif %}
    </li>
</ul>
{% endif %}
