<!DOCTYPE html>
<html>
	<head>
		<title>{% if page.title %}{{ page.title }} – {% endif %}Projects – {{ site.name }}</title>

		{% include meta.html %}

		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
		<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

		<script src="https://code.jquery.com/jquery-3.0.0.min.js"
				integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="
				crossorigin="anonymous"></script>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.21/css/lightgallery.css">

		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.21/js/lightgallery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.21/js/lg-fullscreen.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.21/js/lg-thumbnail.min.js"></script>
	</head>

	<body>
		{% include header.html %}

		<div id="main" role="main" class="container">
			{% if page.gallery %}
				<div id="projgallery">
					{% for image in page.gallery %}
						<a href="{{ image }}">
							<img class="thumbnaild" src="{{ image }}" />
						</a>
					{% endfor %}
				</div>

				<div id="main" role="main" class="container-right">
					{{ content }}
				</div>
			{% else %}
				{{ content }}
			{% endif %}
		</div>

		{% include footer.html %}

		{% if page.gallery %}
			<script type="text/javascript">
				$(document).ready(function() {
					$("#projgallery").lightGallery({
					    thumbnail:true
					}); 
				});
			</script>
		{% endif %}

		{% include analytics.html %}
	</body>
</html>
